body{
    margin: 0px;
    padding: 0px;
}
h1, h2, h3{
    font-family: Arial, Helvetica, sans-serif;
}
p, span, a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hero-section{
    background-image: url(images/donation-hero-beground.jpg);
    padding: 120px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-text{
    padding: 20px 0px;
}

.hero-text h1{
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 900;
    color: aliceblue;
    text-align: center;
}
.hero-text P{
    font-size: 16px;
    color: aliceblue;
    text-align: center;
}

.hero-text H1, p, button{   
    margin: 0px;
    padding: 10px 0;

}

.hero-button{
    display: flex;
    justify-content: center;
}
.hero-button a{
    display: inline;
    padding: 7px 15px;
    background-color: orangered;
    color: aliceblue;
    text-decoration: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 400;
}
/*** donate-today section ***/
.donate-today{
    padding: 100px 0px;
}
.donate-today-text h2{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin: 0px;
    padding-bottom: 20px;
    color: #161616;   
}
.donate-today-text p{
    color: black;
}
.donate-tk-box{
    display: flex;
    justify-content: center;
    padding: 30px 0px;
}
.tk-box{
    padding: 20px;
    background-color: #cececedd;
    margin: 0px 10px;
    border-radius: 3px;
}

.tk-box span{
    font-size: 25px;
    font-weight: 700;
    color: #5e5e5e;
}
.active{
    border: 1px solid orangered;
    background-color: #f8bb94;
    box-sizing: border-box;
}
.active span{
    color: orangered;
}

.donate-tk-input-box {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.donate-tk-input-box input {
    padding: 5px 50px;
    text-align: center;
    border-top: none;
    border-right: none;
    border-left: none;
}
.donate-tk-input-box input:active {
    border-top: none;
    border-right: none;
    border-left: none;
}

.donate-plan-text h2{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin: 0px;
    padding-bottom: 20px;
    color: #161616;
}
.width-half-pera{
    width: 45%;
    margin: auto;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
}

.donate-plan-box-area{
    display: flex;
    padding: 50px 10%;
    justify-content: center;
    
}
.donate-plan-box{
    width: 28%;
    padding: 20px;
    margin: 0px 1%;
    border-radius: 3px;
}
.planbox-1{
    background-color: #e0ffffce;
}
.planbox-2{
    background-color: #ffa07ac8;
}
.planbox-3{
    background-color: #ffff91bc;
}


/***Subscribe-area***/

.Subscribe-area {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.Subscribe-area-text h2{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin: 0px;
    padding-bottom: 20px;
    color: #161616;
}
.Subscribe-from-box{
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: #f6c0c8c0;
    padding: 60px 20px;
    border-radius: 3px;
    margin: 20px 0;

}
.Subscribe-from-box input{
    border: none;
    padding: 8px 18px;
    font-size: 17px;

}
.Subscribe-from-box input[type="email"] {
    background-color: #dddddddb;
}

.Subscribe-from-box input[type="submit"] {
    background: orangered;
    color: whitesmoke;
}


.footer{
    background-color: #000000d0;
    padding: 15px 0;
}
.footer h3{
    color: orangered;
    font-weight: 600;
}
.footer p{
    color: aliceblue;
}
.footer h3,
.footer p{
    text-align: center;
    margin: 0px;
    padding: 10px 0px;
}